<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Google Font link-->
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />

    <!-- ======= CSS Vendor ======= -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css"
      integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="static/style/style.css" />
    <title>RainCast ID - Satu Solusi untuk Indonesia Siaga Hujan</title>
  </head>
  <body>
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg fixed-top no-background" id="navbar">
      <div class="container px-4 d-flex align-items-start">
        <a href="/" class="navbar-brand fw-semibold">
          <img
            src="static/assets/images/logo.png"
            class="logo logo-display"
            height="45px"
            alt=""
          />
          <img
            src="static/assets/images/footer-logo.png"
            class="logo logo-scrolled"
            height="45px"
            alt=""
          />
          <p class="text-white logo logo-display fs-6">
            Satu Solusi untuk Indonesia Siaga Hujan
          </p>
          <p class="logo logo-scrolled fs-6">
            Satu Solusi untuk Indonesia Siaga Hujan
          </p>
        </a>
        <!-- <button
            class="navbar-toggler"
            data-bs-toggle="toggle"
            data-bs-target="#mainTarget"
          >
            <span class="navbar-toggler-icon"></span>
          </button> -->

        <div class="collapse navbar-collapse gap-3 navbar-menu" id="mainTarget">
          <ul class="navbar-nav ms-auto" id="nav-pc"></ul>
        </div>
      </div>
    </nav>
    <nav class="fixed-bottom bg-white w-100 px-2 py-1 navmobile">
      <ul class="navbar-nav d-flex flex-row justify-content-evenly">
        <li class="nav-item">
          <a
            href="#"
            id="btnHomeMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob active"
            ><i class="bi bi-house-fill fs-3"></i>
            <small>Beranda</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#features"
            id="btnFiturMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
          >
            <i class="bi bi-list fs-3"></i>
            <small>Fitur</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#forum"
            id="btnForumMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
          >
            <i class="bi bi-people-fill fs-3"></i>
            <small>Forum</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#contact"
            id="btnKontakMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
            ><i class="bi bi-envelope-fill fs-3"></i>
            <small>Hubungi</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href=""
            id="btnLoginMob"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
            ><i class="bi bi-person-circle align-middle fs-3"></i>
            <small>Masuk</small>
          </a>
        </li>
      </ul>
    </nav>

    <section id="home" class="admin">
      <div class="logoheader"></div>
      <div class="container main_home">
        <h1>Pengujian Backpropagation</h1>
        <hr />
        <div class="field">
          <div class="mb-3">
            <input class="form-control" type="file" id="input-file" />
          </div>
        </div>
        <a class="btn btn-dark" onclick="upload_add_data()"
          >Upload and Add Data</a
        >
        <a class="btn btn-dark" onclick="upload_input_data()"
          >Upload Input Data</a
        >
        <a class="btn btn-dark" onclick="delall()">Delete All</a>
        <a class="btn btn-dark" onclick="upload_update_data()"
          >Upload and Update Data</a
        >
        <div id="output"></div>
        <hr />
        <div class="field">
          <div class="mb-3">
            <h4>Epoch</h4>
            <input class="form-control" type="number" id="input-epoch" />
          </div>
        </div>
        <div id="step1">
          <div
            class="modal fade"
            id="resultHiddenPR"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="titlePredictHidden"></h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="destroy"
                  ></button>
                </div>
                <div class="modal-body container">
                  <div class="row justify-content-center">
                    <div class="col">
                      <table width="100%" border="1">
                        <thead>
                          <tr>
                            <th>Prediksi</th>
                            <th>Aktual</th>
                          </tr>
                        </thead>
                        <tbody id="datahasil">
                          <tr>
                            <td colspan="2">Tidak ada data</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col">
                      <h5>Grafik Perbandingan</h5>
                      <canvas id="rainChart"></canvas>
                      <h5>Akurasi Prediksi</h5>
                      <p id="akurasi"></p>
                    </div>
                  </div>

                  <hr />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    id="destroy"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
          <h4>
            Tahap pertama, hitung pengaruh jumlah hidden neuron dan epoch
            menggunakan data 2 bulan
          </h4>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="ujipredict(1)"
            data-bs-toggle="modal"
            data-bs-target="#resultHiddenPR"
          >
            Hidden 1
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="ujipredict(2)"
            data-bs-toggle="modal"
            data-bs-target="#resultHiddenPR"
          >
            Hidden 2
          </button>
        </div>
        <hr />
        <div id="step2">
          <h4>
            Tahap kedua, hitung pengaruh jumlah data uji menggunakan hasil
            terbaik dari tahap pertama
          </h4>
          <button class="btn btn-secondary">Data 2 tahun</button>
          <button class="btn btn-secondary">Data 3 tahun</button>
          <button class="btn btn-secondary">Data 4 tahun</button>
        </div>
        <hr />
        <div id="step3">
          <h4>
            Tahap ketiga, perbandingan hasil prediksi dari tahap kedua dengan
            hasil data BMKG
          </h4>
        </div>
        <p id="coba">aa</p>
        <div>
          <h1 class="title">Data Uji</h1>
          <table class="table table-striped w-75">
            <thead>
              <tr>
                <th></th>
                <th>Temperatur</th>
                <th>Kelembaban Udara</th>
                <th>Kecepatan Udara</th>
                <th>Tekanan Udara</th>
                <th>Curah Hujan</th>
              </tr>
            </thead>
            <tbody id="dataminmax">
              <tr>
                <th>Data Min</th>
              </tr>
              <tr>
                <th>Data Max</th>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped w-75">
            <thead>
              <tr>
                <th>No</th>
                <th>Temperatur</th>
                <th>Kelembaban Udara</th>
                <th>Kecepatan Udara</th>
                <th>Tekanan Udara</th>
                <th>Curah Hujan</th>
                <th>Keterangan</th>
              </tr>
            </thead>
            <tbody id="datauji">
              <tr>
                <td colspan="7">Tidak ada data uji</td>
              </tr>
            </tbody>
          </table>
          <h1 class="title">Data Normalisasi</h1>
          <table class="table table-striped w-75">
            <thead>
              <tr>
                <th>No</th>
                <th>Temperatur</th>
                <th>Kelembaban Udara</th>
                <th>Kecepatan Udara</th>
                <th>Tekanan Udara</th>
                <th>Curah Hujan</th>
              </tr>
            </thead>
            <tbody id="datanormal">
              <tr>
                <td colspan="6">Tidak ada data uji</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!--End off Home Sections-->

    <footer>
      <div class="fixed text-center bg-primary text-white py-2">
        <p class="fw-bold m-0">Copyright &copy; 2024 | RainCast Indonesia</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"
      integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
      integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/controller/navbar.js"></script>
    <script src="/static/js/controller/admin.js"></script>
    <script src="/static/js/controller/API-cuaca.js"></script>
    <script src="/static/js/controller/predict-manual.js"></script>
    <script src="/static/js/controller/indexedDB.js"></script>
    <script src="/static/js/templates/template-view.js"></script>

    <script src="/static/js/helper/otp-helper.js"></script>
  </body>
</html>
