<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='icon.ico') }}"
    type="image/x-icon"
  />
    <!--Google Font link-->
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />

    <!-- ======= CSS Vendor ======= -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css"
      integrity="sha512-T+KoG3fbDoSnlgEXFQqwcTC9AdkFIxhBlmoaFqYaIjq2ShhNwNao9AKaLUPMfwiBPL0ScxAtc+UYbHAgvd+sjQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="static/style/style.css" />
    <title>RainCast ID - Satu Solusi untuk Indonesia Siaga Hujan</title>
  </head>
  <body>
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg fixed-top no-background" id="navbar">
      <div class="container px-4 d-flex align-items-start">
        <a href="/" class="navbar-brand fw-semibold">
          <img
            src="static/assets/images/logo.png"
            class="logo logo-display"
            height="45px"
            alt=""
          />
          <img
            src="static/assets/images/footer-logo.png"
            class="logo logo-scrolled"
            height="45px"
            alt=""
          />
          <p class="text-white logo logo-display fs-6">
            Satu Solusi untuk Indonesia Siaga Hujan
          </p>
          <p class="logo logo-scrolled fs-6">
            Satu Solusi untuk Indonesia Siaga Hujan
          </p>
        </a>
        <!-- <button
            class="navbar-toggler"
            data-bs-toggle="toggle"
            data-bs-target="#mainTarget"
          >
            <span class="navbar-toggler-icon"></span>
          </button> -->

        <div class="collapse navbar-collapse gap-3 navbar-menu" id="mainTarget">
          <ul class="navbar-nav ms-auto" id="nav-pc"></ul>
        </div>
      </div>
    </nav>
    <nav class="fixed-bottom bg-white w-100 px-2 py-1 navmobile">
      <ul class="navbar-nav d-flex flex-row justify-content-evenly">
        <li class="nav-item">
          <a
            href="#"
            id="btnHomeMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob active"
            ><i class="bi bi-house-fill fs-3"></i>
            <small>Beranda</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#features"
            id="btnFiturMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
          >
            <i class="bi bi-list fs-3"></i>
            <small>Fitur</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#forum"
            id="btnForumMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
          >
            <i class="bi bi-people-fill fs-3"></i>
            <small>Forum</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#contact"
            id="btnKontakMob"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
            ><i class="bi bi-envelope-fill fs-3"></i>
            <small>Hubungi</small>
          </a>
        </li>
        <li class="nav-item">
          <a
            href=""
            id="btnLoginMob"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
            class="nav-link fw-bold d-flex flex-column align-items-center navmob"
            ><i class="bi bi-person-circle align-middle fs-3"></i>
            <small>Masuk</small>
          </a>
        </li>
      </ul>
    </nav>

    <!--Cuaca modal-->
    <div
      class="modal fade"
      id="cuacaUserModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    ></div>

    <div
      class="modal fade"
      id="historyModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable"
      >
        <div class="modal-content">
          <div
            class="modal-header text-white"
            style="background-color: #648cff"
          >
            <h1 class="modal-title fs-5" id="cuacaModalLabel">
              Riwayat Prediksi
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              id="empty-user"
            ></button>
          </div>
          <div class="modal-body">
            <button class="btn btn-orange active" id="btn-prtoday">
              Prediksi Harian
            </button>
            <button class="btn btn-orange" id="btn-pr3day">
              Prediksi 3 Hari
            </button>
            <hr />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID Prediksi</th>
                  <th>Tanggal Akses</th>
                  <th>Tipe</th>
                  <th>Hasil Prediksi</th>
                </tr>
              </thead>
              <tbody id="hisPredict"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <section id="home" class="home">
      <div class="container main_home">
        <div class="row d-flex align-items-end">
          <div class="col-md-6">
            <div class="home_text px-2">
              <h2 class="text-white fw-bold">
                Selamat Datang di RainCast ID, <span class="username"></span>!
              </h2>
            </div>
            <hr class="text-white w-75" />
            <h3 class="text-white">Fitur Khusus Member:</h3>
            <div class="bg-white p-2 rounded">
              <h5 class="fw-semibold">
                Prediksi Curah Hujan Berdasarkan Lokasi
              </h5>
              <p class="m-0">
                Lokasi Tersimpan:
                <span id="savedLocMember" class="fw-bold"></span>
              </p>
              <div id="helpLoc" class="text-danger mb-2"></div>
              <button
                class="btn btn-orange"
                id="btn-predictToday"
                onclick="predictDay('today')"
              >
                Prediksi Hari Ini
              </button>
              <button
                class="btn btn-orange"
                id="btn-predict3Day"
                onclick="predictDay('3day')"
              >
                Prediksi 3 Hari
              </button>
              <hr />
              <div class="visually-hidden">
              <h5 class="fw-semibold">Notifikasi Prediksi Harian</h5>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="notif-browser"
                />
                <label class="form-check-label" for="notif-browser"
                  >Notifikasi Browser </label
                >&nbsp;&nbsp;<a><i class="bi bi-info-circle"></i></a>
              </div>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="notif-tele"
                />
                <label class="form-check-label" for="notif-tele"
                  >Notifikasi BOT Telegram</label
                >&nbsp;&nbsp;<a><i class="bi bi-info-circle"></i></a>
              </div>
            </div>
              <hr />
              <h5 class="fw-semibold">Log Prediksi Curah Hujan</h5>
              <button
                class="btn btn-orange"
                data-bs-toggle="modal"
                data-bs-target="#historyModal"
                onclick="showHistory()"
              >
                Lihat Log Prediksi
              </button>
            </div>
          </div>
          <div class="col-md-6 border-start border-2">
            <h3 class="text-white">Prediksi Curah Hujan (Input Manual)</h3>
            <fieldset class="rounded py-3 border-0">
              <div class="form-group" id="inputManual">
                <label for="temperature" class="form-label fw-bold"
                  >Temperatur Udara</label
                >
                <div class="input-group mb-3">
                  <input
                    id="tempInput"
                    type="number"
                    class="form-control"
                    placeholder="Masukkan temperatur udara ..."
                    aria-describedby="temperature"
                  />
                  <span class="input-group-text satuan" id="temperature"
                    >°C</span
                  >
                </div>
                <label for="kelembaban" class="form-label fw-bold"
                  >Kelembaban Udara</label
                >
                <div class="input-group mb-3">
                  <input
                    id="lembabInput"
                    type="number"
                    class="form-control"
                    placeholder="Masukkan intensitas kelembaban udara ..."
                    aria-describedby="kelembaban"
                  />
                  <span class="input-group-text satuan" id="kelembaban">%</span>
                </div>
                <label for="kecepatan" class="form-label fw-bold"
                  >Kecepatan Angin</label
                >
                <div class="input-group mb-3">
                  <input
                    id="cepatInput"
                    type="number"
                    class="form-control"
                    placeholder="Masukkan kecepatan angin ..."
                    aria-describedby="kecepatan"
                  />
                  <span class="input-group-text satuan" id="kecepatan"
                    >m/s</span
                  >
                </div>
                <label for="temperature" class="form-label fw-bold"
                  >Tekanan Udara</label
                >
                <div class="input-group mb-3">
                  <input
                    id="tekananInput"
                    type="number"
                    class="form-control"
                    placeholder="Masukkan tekanan udara ..."
                    aria-describedby="tekanan"
                  />
                  <span class="input-group-text satuan" id="tekanan">hPa</span>
                </div>
                <div class="input-group justify-content-center">
                  <button
                    id="btnPredictManual"
                    data-bs-toggle="modal"
                    data-bs-target="#cuacaUserModal"
                    class="btn btn-orange px-5 disabled"
                    onclick="predictManual()"
                  >
                    Mulai Prediksi
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--End off row-->
      </div>
      <!--End off container -->
      <div class="custom-shape-divider-bottom-1709026157">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
            class="shape-fill"
          ></path>
        </svg>
      </div>
    </section>
    <!--End off Home Sections-->

    <section id="contact" class="mt-5">
      <div class="title text-center fw-bold">Please, contact me here!</div>
      <div class="contact-body row justify-content-center m-0 pt-3">
        <div class="col-lg-6">
          <div class="contact-head">
            <div class="card-body">
              <h3 class="card-title">You can send me email in here!</h3>
              <hr />
              <form id="mail-form">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="name@example.com"
                    name="user_mail"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Input your name ..."
                    name="user_name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label"
                    >Message</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="4"
                    placeholder="Input your message ..."
                    name="message"
                    required
                  ></textarea>
                </div>
                <input type="submit" class="btn btn-light" value="Send Email" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-head">
            <div class="card-body">
              <h3 class="card-title">
                Follow my contact and social media below!
              </h3>
              <hr />
              <div class="ls-contact">
                <p>
                  <i class="fa-solid fa-square-envelope"></i>
                  <a class="" onclick="mailfocus()" style="cursor: pointer">
                    syaifudinfendip@gmail.com
                  </a>
                </p>
              </div>
              <div class="ls-contact">
                <p>
                  <i class="fa-brands fa-square-whatsapp"></i>
                  <a
                    href="https://wa.me/6289649474381"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    +62 896 4947 4381</a
                  >
                </p>
              </div>
              <div class="ls-contact">
                <p>
                  <i class="fa-brands fa-linkedin"></i>
                  <a
                    href="https://www.linkedin.com/in/pdz03/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Syaifudin Fendi Prasetyo</a
                  >
                </p>
              </div>
              <div class="ls-contact">
                <p>
                  <i class="fa-brands fa-square-facebook"></i>
                  <a
                    href="https://www.facebook.com/Pdz03/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Syaifudin Fendi Pendoelz</a
                  >
                </p>
              </div>
              <div class="ls-contact">
                <p>
                  <i class="fa-brands fa-square-instagram"></i>
                  <a
                    href="https://www.instagram.com/fendypdz/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >@fendypdz</a
                  >
                </p>
              </div>
              <div class="ls-contact">
                <p>
                  <i class="fa-brands fa-telegram"></i>
                  <a
                    href="https://t.me/pdz03/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Syaifudin Fendi Prasetyo</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="fixed text-center bg-primary text-white py-2">
        <p class="fw-bold m-0">Copyright &copy; 2024 | RainCast Indonesia</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"
      integrity="sha512-S/H9RQ6govCzeA7F9D0m8NGfsGf0/HjJEiLEfWGaMCjFzavo+DkRbYtZLSO+X6cZsIKQ6JvV/7Y9YMaYnSGnAA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
      integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/controller/navbar.js"></script>
    <script src="/static/js/controller/dashboard.js"></script>
    <script src="/static/js/controller/API-cuaca.js"></script>
    <script src="/static/js/controller/predict-manual.js"></script>
    <script src="/static/js/controller/indexedDB.js"></script>
    <script src="/static/js/templates/template-view.js"></script>

    <script src="/static/js/helper/otp-helper.js"></script>
  </body>
</html>
